$window_fg: #1d1d1d;
$window_bg: #C9C9C9;
$text_widget_fg: #1d1d1d;
$text_widget_bg: #E3E3E3;

$selected_fg: #000000;
$selected_bg: #97caff;

$button_fg: #1d1d1d;
$button_bg: #DADADA;
$button_checked_bg: #97caff;
$button_checked_fg: #000000;


$disabled_fg: #552222;
$disabled_bg: #c1b5b5;

/*Usually an automatic fg color on these backgrounds should check this value!*/
$warningc: #c1b5b5;
$errorc: #990000;
$successc: #64cb00;


$titlebar_active_fg: #000000;
$titlebar_active_bg: #97caff;

$titlebar_backdrop_fg: #1d1d1d;
$titlebar_backdrop_bg: #C9C9C9;

$hint_fg: #073b00;
$hint_bg: #69b467;

$osd_fg: #073b00;
$osd_bg: #69b467;

$link_fg: #004B91;
$link_visited_fg: #680091;
